html, body {
    margin: 0 auto;
    height: 100%;
    padding: 0;
}

ul, li {
    list-style: none;
    padding: 0;
}

.title {
    margin: 0 auto;
    padding: 10px 0;
}

.wrapper {
    position: relative;
    z-index: 2000;
}

.search_input {
    height: 45px;
}

.search_input input {
    height: 30px;
    min-width: 310px;
    padding: 5px 8px;
    font-size: 1rem;
}

.auto_frame {
    position: absolute;
    top: 45px;
    left: 0;
    border: 1px solid #e4e7e8;
    min-width: 310px;
    padding: 10px;
    background-color: #fff;
    z-index: 300;
}

.auto_frame.close {
    display: none;
}

.btn {
    height: 45px;
    padding: 5px 15px;
    font-size: 1rem;
}

#del-btn.invisible {
    visibility: hidden;
}

.item {
    padding: 3px 0;
}

.item:hover {
    background-color: #e2e2e2;
    cursor: pointer;
}

.detail_box {
    position: relative;
}

.loading {
    will-change: transform;
    transform: translate(0px, 0px);   
}

.loading.close {
    transform: translate(0px, -100vh);
}